.app {
  text-align: center;
  margin-top: 80px;
}

.search-bar input {
  padding: 12px;
  width: 250px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  padding: 16px 25px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.weather-card {
  width: 180px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
